.particles{
  position: absolute;
   /*every thing stays at the position where it is even after scrolling down */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

/*input[type=text]{
  border: none;
  border-bottom: 1px solid red;
}*/